.App {
  text-align: center;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  min-width: 300px;
  max-width: 300px;
  min-height: 100vh;
  background: #7386d5;
  color: #fff;
}

.sidebar-header {
  padding: 50px;
  background: #6d7fcc;
}

#sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#sidebar ul li a {
  padding: 20px;
  font-size: 1.3em;
  display: block;
}

#sidebar ul li a:hover {
  color: #7386d5;
  background: #fff;
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}

#sidebar li.active {
  text-align: center;
  margin-right: 0;
  display: block;
  background: #6374c2;
}

.heading {
  padding-top: 3cm;
  font-family: sans-serif;
  color: #152c92;
}

.tableService,
.tdStyle,
.tdOtherStyle {
  width: 15cm;
  margin: auto;
  margin-top: 1cm;
  padding: 5px;
  border-spacing: 0 20px;
  padding-bottom: 25px;
  font-size: 5mm;
}

.tdStyle {
  font-weight: bold;
  font-style: italic;
}

.table,
tr,
th,
td,
thead {
  width: 22cm;
  margin: auto;
  margin-top: 2cm;
}

.navbar {
  min-height: 80px;
  background-color: rgb(247, 242, 242);
  width: 100%;
  margin-left: 0mm;
  font-size: 7mm;
}

.navbar li {
  padding-left: 3cm;
  padding-right: 3cm;
}

.navbar2_li--active {
  background-origin: border-box;
  background-color: rgb(238, 226, 226);
  background-size: 40px 30px;
  font-weight: bold;
  padding: 20px;
}

.navbar__link--active {
  text-align: center;
  margin-right: 0;
  display: block;
  background: #6374c2;
  border-bottom: 3px solid #29b6f6;
  transition: border-bottom 0.5s ease-in-out;
}

.filterForm {
  margin-top: 1cm;
  font-size: 4.5mm;
  font-style: italic;
}

.filterForm .row {
  margin-top: 1cm;
}

.filterForm .col {
  margin-left: 0cm;
}

#link {
  font-style: italic;
  text-decoration: underline;
  text-decoration-color: blue;
  color: blue;
}
#mmenu_screen > .row {
  min-height: 100vh;
}

.flex-fill {
  flex: 1 1 auto;
}
.selector-for-some-widget {
  box-sizing: content-box;
}
.row {
  width: 100%;
  display: -webkit-inline-flex;
}
a.lightbox img {
  height: 150px;
  border: 3px solid white;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  margin: 94px 20px 20px 20px;
}

/* Styles the lightbox, removes it from sight and adds the fade-in transition */

.lightbox-target {
  position: fixed;
  top: -100%;
  width: 50%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  overflow: hidden;
  background: black;
  background: none;
}

/* Styles the lightbox image, centers it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */

.lightbox-target img {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 0%;
  max-width: 0%;
  border: 3px solid white;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

/* Styles the close link, adds the slide down transition */

a.lightbox-close {
  display: block;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  background: white;
  color: black;
  text-decoration: none;
  position: absolute;
  top: -80px;
  right: 0;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:before {
  content: "";
  display: block;
  height: 30px;
  width: 1px;
  background: black;
  position: absolute;
  left: 26px;
  top: 10px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:after {
  content: "";
  display: block;
  height: 30px;
  width: 1px;
  background: black;
  position: absolute;
  left: 26px;
  top: 10px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */

.lightbox-target:target {
  opacity: 1;
  top: 0;
  bottom: 0;
}

.lightbox-target:target img {
  max-height: 100%;
  max-width: 100%;
}

.lightbox-target:target a.lightbox-close {
  top: 0px;
}
body,
html {
  padding: 0;
  margin: 0;
  text-align: center;
}
.thumbnail:hover {
  position: relative;
  top: -25px;
  left: -35px;
  width: 500px;
  height: auto;
  display: block;
  z-index: 999;
}
iframe {
  height: 500px;
  width: 500px;
}
.divider {
  width: 5px;
  height: auto;
  display: inline-block;
}

.formDetail {
  margin-top: 2cm;
}

.form-inline {
  padding-left: 3cm;
}
.dividerheight {
  margin-top: 10px;
  height: auto;
  display: inline-block;
}
.mainLink {
  color: green;
}
.error-message {
  color: #ff6565;
  padding: 0.5em 0.2em;
  height: 1em;
  position: absolute;
  font-size: 0.8em;
}

/* FOR UPLOADING IMAGES */

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 75vh;
}

.button {
  margin: 0 10vw;
}

.images {
  display: flex;
  justify-content: center;
}

.delete {
  position: relative;
  top: 16px;
  right: 15px;
}

footer svg,
.button svg,
.delete svg {
  filter: drop-shadow(3px 3px 3px #999);
  transition: 0.3s;
  transform: rotate(-0.2deg);
}

footer svg:hover,
.button svg:hover,
.delete svg:hover {
  filter: drop-shadow(4px 4px 4px #999);
  transform: rotate(-0.6deg);
  cursor: pointer;
}

.delete svg {
  filter: drop-shadow(1px 1px 1px #999);
}

footer svg {
  filter: drop-shadow(1.5px 1px 1px #999);
}

footer svg:hover,
.delete svg:hover {
  filter: drop-shadow(1.5px 1.5px 1.5px);
}

input[type="file"] {
  visibility: hidden;
  position: absolute;
}

img {
  max-height: 420px;
  max-width: 420px;
  padding: 10px;
  border: 1px dashed #999;
}

/* Loading */
.loading-wrapper,
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loading {
  width: 200px;
  height: 200px;
}

.loading .background {
  border-radius: 50%;
  background: #6762a6;
  border: 3px solid #c9c3e6;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  animation: pulse-colors 2s infinite alternate linear;
}

.loading i {
  margin: 25px 5px 5px 55px;
  float: left;
  font-size: 10em !important;
  color: #fff;
  animation: pulse-icon 4s infinite alternate linear;
}

#notification-wrapper {
  position: absolute;
}

/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  width: 96vw;
  margin: 0 2vw;
}

footer .small-button {
  border-radius: 50%;
  border: 1px solid #fff;
  width: 3.2em;
  height: 3.2em;
  padding: 5px;
  transition: 0.3s;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}

footer .small-button:hover {
  background: #767676;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.45);
}

footer .small-button.github {
  background: #6e5494;
}

footer .small-button.medium {
  background: #00ab6c;
  font-size: 0.85em;
  padding: 0.65em;
}

@keyframes pulse-colors {
  from {
    background: #c9c3e6;
    border: 3px solid #a29ccc;
  }
  to {
    background: #6762a6;
    border: 3px solid #c9c3e6;
  }
}

/* Animations */
.fadein {
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.spinner {
  animation: spin 1.2s infinite linear;
}

.spinner svg {
  background: #f2f2f2;
  border-radius: 50%;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.rolling {
  position: absolute;
  animation: move 6s ease-out;
  filter: drop-shadow(4px 4px 4px #999);
}

@-webkit-keyframes move {
  0% {
    left: -5%;
  }
  100% {
    left: 105%;
  }
}

@keyframes pulse-icon {
  from {
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
  }
  to {
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.55);
  }
}
